{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="title">Title:</label>
      <input type="text" id="title" name="btitle" />
    </p>

    <p>
      <label for="author">Author:</label>
      <input type="text" id="author" name="bauthor" />
    </p>

    <p>
      <label for="pages">Pages:</label>
      <input type="text" id="pages" name="bpages" />
    </p>


    <p>
      <label>Classification:</label>
      <label for="c-fiction">
        <input type="radio" id="c-fiction" name="read" value="fiction" /> fiction
      </label>

      <label for="c-nonfiction">
        <input type="radio" id="c-nonfiction" name="read" value="nonfiction" /> non-fiction
      </label>
    </p>

    <fieldset>
      <legend>Details:</legend>
      <label for="own">
        <input
          type="checkbox"
          id="own"
          name="options"
          value="own-book"
        />
        I own this book
      </label><br>

      <label for="read">
        <input
          type="checkbox"
          id="read"
          name="options"
          value="reading"
        />
        I've read this book
      </label><br>

      <label for="like">
        <input
          type="checkbox"
          id="like"
          name="options"
          value="liked-it"
        />
        I liked this book
      </label><br>

      <label for="recommend">
        <input
          type="checkbox"
          id="recommend"
          name="options"
          value="recommend-it"
        />
        I would recommend this book to others
      </label>
    </fieldset>

    <p>
      <label for="acquisition">
        How did I get this book?
        <select name="type" id="acquisition">
          <option value="" selected>- Select option -</option>
          <option value="purchase">I purchased it.</option>
          <option value="gift">It was a gift.</option>
          <option value="lib">I checked it our from the library.</option>
          <option value="loan">A friend loaned it to me.</option>
        </select>
      </label>
    </p>
   

   

    <p><label><input type="submit" id="submit" value="Add Book" /></p>
  </form>

  <br /><br />
  {% if books %}
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquistion</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.classification }}</td>
        <td>{{ book.details }}</td>
        <td>{{ book.acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
