{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="btitle">Title:</label>
      <input type="text" id="btitle" name="title" />
    </p>

    <p>
      <label for="bauthor">Author:</label>
      <input type="text" id="bauthor" name="author" />
    </p>

    <p>
      <label for="bpages">Pages:</label>
      <input type="text" id="bpages" name="pages" />
    </p>


    <p>
      <label>Classification:</label>
      <label for="c-fiction">
        <input type="radio" id="c-fiction" name="classification" value="fiction" /> fiction
      </label>

      <label for="c-nonfiction">
        <input type="radio" id="c-nonfiction" name="classification" value="nonfiction" /> non-fiction
      </label>
    </p>

    <fieldset>
      <legend>Details:</legend>
      <label for="bown">
        <input
          type="checkbox"
          id="bown"
          name="details"
          value="own"
        />
        I own this book
      </label><br>

      <label for="bread">
        <input
          type="checkbox"
          id="bread"
          name="details"
          value="read"
        />
        I've read this book
      </label><br>

      <label for="like">
        <input
          type="checkbox"
          id="like"
          name="details"
          value="liked"
        />
        I liked this book
      </label><br>

      <label for="brecommend">
        <input
          type="checkbox"
          id="brecommend"
          name="details"
          value="recommend"
        />
        I would recommend this book to others
      </label>
    </fieldset>

    <p>
      <label for="bacquisition">
        How did I get this book?
        <select name="acquisition" id="bacquisition">
          <option value="" selected>- Select option -</option>
          <option value="purchase">I purchased it.</option>
          <option value="gift">It was a gift.</option>
          <option value="lib">I checked it our from the library.</option>
          <option value="loan">A friend loaned it to me.</option>
        </select>
      </label>
    </p>
   

   

    <p><label><input type="submit" id="submit" value="Add Book" /></p>
  </form>

  <br /><br />
  {% if books %}
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquistion</th>
      </tr>
    </thead>

    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.classification }}</td>
        <td>{{ book.details }}</td>
        <td>{{ book.acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
